{% extends "/student/base.html" %} {% block head %}
<title>Chat</title>
{% endblock %} {% block body %}
  <div class="container">
    <div class="jumbotron" style="background-color: lightslategray">
      <h4>Name : .....</h4>
      <br />
      <h4>Name : .....</h4>
      <br />
      <h4>Name : .....</h4>
      <br />
      <h4>Name : .....</h4>
      <br />
      <h4>Name : .....</h4>
      <br />
      <h4>Name : .....</h4>
      <br />
      <h4>Name : .....</h4>
      <br />
      <h4>Name : .....</h4>
      <br />
      <br>
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="Message" class="sr-only">Message</label>
          <input type="text" class="form-control" id="Message" placeholder="Message">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Send Message</button>
      </form>
      <br>
    </div>
  </div>

{% endblock %}
