{% extends "/student/base.html" %} {% block head %}
<title>Notices</title>
<style>
  div.things {
    background-color: lightslategray;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }
  form {
    color: black;
  }

  .button {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }
  .button:hover {
    background: black;
    color: white;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
  }
</style>
{% endblock %} {% block body %}
<div class="container">
  <div class="jumbotron">
    <br />
    <br />
    <a href="#">
      <div class="button">
        <h3>Notes</h3>
      </div>
    </a>
    <br />
    <br />
    <a href="#">
      <div class="button">
        <h3>Papers</h3>
      </div>
    </a>
    <br />
    <br />
    <a href="#">
      <div class="button">
        <h3>Home Work</h3>
      </div>
    </a>
    <br />
    <br />
    <a href="/Student/Notices/">
      <div class="button">
        <h3>Notices</h3>
      </div>
    </a>
  </div>
</div>
{% endblock %}
